<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="'UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Enquesta per accedir a NOEL</title>
        <link rel="stylesheet" href={{url_for('static', filename='css/intro.css')}}>
        <style>
            .header-container {
                  display: flex;
                  justify-content: center;
                  align-items: center;
              }
              .header-container img {
                  width: 130px; 
                  align-items: center;      
              }
          </style> 
    </head>
    <body>
        <header>
            <hr>
            <div class="header-container">
                <img src="{{ url_for('static', filename='Logospng/logoblanc.png') }}" alt="Imagen">
            </div>
            <hr>
        </header>
    <section>
        <p>Send your answers to store them!</p>

        <form id="respuestasForm">
            <button type="submit">Confirm and Send</button>
        </form>
    </section>

    <script>
        document.getElementById('respuestasForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Evitar el envío tradicional del formulario

            // Enviar los datos mediante AJAX
            fetch('/guardar', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({}) // Puedes enviar datos adicionales si es necesario
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    // Redirigir a 'pag4cast' si el envío fue exitoso
                    window.location.href = "{{ url_for('pag4eng') }}";
                } else {
                    alert('Error in saving the data: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('There was an error when saving the data.');
            });
        });
    </script>
</body>
</html>
